<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .loader {
            border: 16px solid orange; /* Light grey */
            border-top: 16px solid black; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin-left: 45%;
            margin-top: 20%;
        }

        /* Animation */
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
</head>
<body>
{% if session.user %}

    <div id="alert" class="alert alert-success">
        <a onclick="showStuff()" class="close" >x</a>
        <p>{{ session.user.message}}</p>

    </div>
{% endif %}

<div id="loader" class="loader"></div>


<div id="map"></div>


<script>


    let loader = document.getElementById("loader");
    setTimeout(() => {
        loader.classList.remove("loader");
        loader.remove();
    }, 5000);

    let test = [];
{% for adress in adresses %}
    test.push(["{{adress["adresse"]}}", "{{ adress["latitude"] }}", "{{ adress["longitude"] }}"]);
{% endfor %}

</script>


<script>

    let map;
    let contentStr = "";

    function initMap() {
        let latNav;
        let lngNav;
        let infos;
        let locations;

        function init(position) {
            latNav = position[0];
            lngNav = position[1];
            infos = {lat: latNav, lng: lngNav};

             locations = [
                ["Votre Position", latNav, lngNav],
            ];

            let val = [];
            {% for bonbon in bonbons %}
                val.push(["{{ bonbon.name }}"]);
            {% endfor %}
                let randBonbons = Math.floor(Math.random() * val.length);
                let resultBonbons = val[randBonbons];

            test.forEach((element) => {
                locations.push([resultBonbons[0], Number(element[1]), Number(element[2])]);
            });

        }


        // fonction qui permet de faire une récupération de la position actuelle.
        setInterval(function () {

            function getLocation(cb) {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition((position) => {
                        cb([position.coords.latitude, position.coords.longitude])
                    });
                }
            }

            getLocation(init);

        }, 3000);


        var infowindow = new google.maps.InfoWindow({
            content: contentStr,
        })

        // Fonction qui permet de récupérer la mac avec la bonne position.
        setTimeout(function () {
            map = new google.maps.Map(document.getElementById('map'), {
                center: infos,
                zoom: 14,
            });


            setInterval(function () {
                marker = new google.maps.Marker({
                    position: infos,
                    title: "Salut !",
                });


                var marker, i;

                for (i = 0; i < locations.length; i++) {

                    if(locations[i][0] === "Votre Position"){
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                            map: map,
                            icon:  {
                                url: "https://svgsilh.com/svg/2308072.svg",
                                scaledSize: new google.maps.Size(32, 32),
                            },
                        });
                    } else {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                            map: map,
                            icon:  {
                                url: "https://cdn3.iconfinder.com/data/icons/food-1-11/128/food-27-512.png",
                                scaledSize: new google.maps.Size(32, 32),
                            },

                        });
                    }


                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

                marker.setMap(map);
                console.log("Aboubaka");
            }, 3000);
        }, 3500);
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../assets/js/alert.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU8skzrb_CM8YtBfN96X-jyMK3p54YScI&callback=initMap"
        async defer></script>



</body>
